{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 160,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 140,
        "tabWidth": 4,
        "singleQuote": false,
        "useTabs": false
      }
    }
  ]
}